.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* responsividade extra 02 */
    padding-block: 40px;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1.5rem;
}

.bio span {
    color: var(--red);
    font-weight: bold;
}

.bio strong {
    color: var(--secondary);
    font-weight: bold;
}

.textos h2, p {
    margin-bottom: 1rem;
}

.techs {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.icones {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icones img {
    height: 50px;
}

/* responsividade extra 02 */
/* tablet */
@media (max-width: 768px) {
    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
    }
    .bio img {
        max-width: 50%;
    }
}

/* mobile m */
@media (max-width: 480px) {
    .icones {
        gap: 0.5rem;
    }
    .icones img {
        height: 40px;
    }
}
