/* css da page Home */
.container {
  width: 100%;
  min-height: 90vh;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container img {
  height: 500px;
}

.container p {
  font-size: 3rem; /* 48px */
  font-weight: bold;
  margin-bottom: 1rem;
}

.container span {
  color: var(--red);
}

.btn {
  width: 250px;
  height: 50px;
  font-size: 1.125rem;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-red {
  background-color: var(--red);
  color: var(--white);
}

.btn-red:hover {
  background-color: var(--primary);
}
